.chat-input-container
  display: flex
  flex-direction: column
  height: fit-content
  margin: 10px 20px 20px 20px
  border: 1px solid #ddd
  border-radius: 8px
  .bottom-row
    display: flex
    justify-content: flex-end
    align-items: center
    .actions
      width: fit-content
      padding: 4px
      display: flex
      align-items: center
      color: var(--primary-color-6)
      gap: 4px
    .icon
      cursor: pointer
      width: 28px
      height: 28px
      &.disabled
        color: #cccccc
        cursor: not-allowed
      &:hover:not(.disabled)
        color: var(--primary-color-8)
