{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 80,
  "comma-dangle": [
    2,
    "never"
  ],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true
}